<!doctype html>
<html>
    <head>
        <title>D2 Packet Browser</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="index.css">
    </head>
    <body class="my-5 container bg-secondary">
        <div id="components">
            <div id="packet-structure" props="title,structure,level">
                <template v-for="color in [['primary', 'info', 'success', 'warning', 'danger', 'secondary'][(level | 0) % 6]]">
                    <div :class="'badge badge-' + color">{{ title }}</div>
                    <div class="list-group">
                        <template v-for="field in structure">
                            <button v-for="(field, fieldType) in field" :class="'list-group-item list-group-item-' + color">
                                <template v-if="typeof field === 'string'"><span :class="'badge badge-' + color">{{ fieldType }}</span> {{ field }}</template>
                                <template v-else>
                                    <packet-structure :structure="field" :title="fieldType" :level="(level | 0) + 1">
                                </template>
                            </button>
                        </template>
                    </div>
                </template>
            </div>
        </div>
        <div id="app" class="card" v-cloak>
            <div>
                <h1 class="card-header text-center">D2 Packet Browser</h1>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Search</span>
                    </div>
                    <input type="text" v-model="filterText" class="form-control" placeholder="Type to search packets...">
                </div>
                <div class="btn-toolbar mb-3">
                    <div class="mr-2" v-for="filters in filterOptions">
                        <button v-for="(filterValue, filterName) in filters" :class="'btn mr-1 btn-' + ['secondary', 'success'][filterValue | 0]" @click="filters[filterName] = !filterValue">{{ filterName }} <span class="badge badge-light">{{ filterValue ? 'Show' : 'Hide' }}</span></span></button>
                    </div>
                </div>
                <div v-if="active" class="accordion">
                    <div v-for="packet in filteredAndSortedPackets" class="card" :data-relevance="packet.relevance" :key="attrSafeName(packet.Source, packet.Name)">
                        <template v-for="local in [{body_id: attrSafeName(packet.Source, packet.Name)}]">
                            <div class="card-header">
                                <span class="badge badge-secondary">{{ packet.PacketId }}</span> <a :href="'#' + local.body_id" data-toggle="collapse" aria-expanded="false" class="text-secondary">{{ packet.Name }}</a>
                            </div>
                            <div class="card-body collapse" :id="local.body_id">
                                <div class="row mb-3">
                                    <template v-for="column in columns.filter(v => !['Description', 'Structure'].includes(v))">
                                        <div class="col-auto"><span class="badge badge-primary">{{ column }}</span> {{ packet[column] }}</div>
                                    </template>
                                </div>
                                <template v-if="packet.Description">
                                    <div class="badge badge-primary">Description</div>
                                    <p style="white-space: pre">{{ packet.Description }}</p>
                                </template>
                                <packet-structure v-if="packet.Structure" :structure="packet.Structure" title="Structure">
                            </div>
                        </template>
                    </div>
                </div>
                <div v-else>
                    <p>Loading...</p>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>
