@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

html, body {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

.collapsing {
    transition: none !important;
}

*[v-cloak] {
    display: none;
}